@font-face {
  font-family: "SuisseIntl-Regular";
  src: url(../fonts/SuisseIntl/SuisseIntl-Regular.woff); }
@font-face {
  font-family: "SuisseIntl-Medium";
  src: url(../fonts/SuisseIntl/SuisseIntl-Medium.woff); }
@font-face {
  font-family: "SuisseIntl-SemiBold";
  src: url(../fonts/SuisseIntl/SuisseIntl-SemiBold.woff); }
@font-face {
  font-family: "WulkanDisplay-SemiBoldItalic";
  src: url(../fonts/WulkanDisplay/WulkanDisplay-SemiBoldItalic.woff); }
html {
  height: 100%; }

body {
  margin: 0;
  height: 100%; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

ul, li, p, h1, h2, h3 {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

body {
  background: #ff267e;
  overscroll-behavior: none; }

.hide {
  display: none !important; }

.fav-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative; }
  .fav-page img {
    max-width: 100%;
    height: auto; }

.main-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5; }

.bonus {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-right: 208px; }
  .bonus__light {
    position: absolute;
    bottom: -170px;
    left: 0;
    width: 100%;
    height: 410px;
    background: linear-gradient(180deg, rgba(243, 0, 99, 0) 0%, #FF267E 61.98%);
    z-index: 1; }
  .bonus__logo {
    width: 405px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4; }
  .bonus__img {
    height: 100vh;
    width: 94vh;
    position: absolute;
    left: 150px;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center; }
  .bonus__right {
    position: relative;
    z-index: 5;
    margin-top: 110px; }
    .bonus__right-title {
      font-family: "SuisseIntl-Medium", sans-serif;
      font-size: 120px;
      line-height: 156px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin: 0 0 10px 0; }
    .bonus__right-text {
      position: relative;
      display: flex;
      align-items: center;
      margin: 0 0 95px 0; }
      .bonus__right-text span {
        display: inline-block;
        padding: 10px 17px 8px;
        font-family: "SuisseIntl-Medium", sans-serif;
        font-size: 54px;
        line-height: 70px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #000055; }
        .bonus__right-text span:first-child {
          margin: 0 45px 0 0; }
      .bonus__right-text img {
        position: absolute;
        max-width: 63px;
        top: 50%;
        right: 188px;
        transform: translateY(-50%); }
    .bonus__right-link {
      display: inline-block;
      padding: 26px 87px 24px;
      border-radius: 6px;
      position: relative;
      font-family: "SuisseIntl-Medium", sans-serif;
      font-size: 30px;
      line-height: 39px;
      text-transform: uppercase;
      color: #000055;
      background: #05C489;
      transition: background-color 0.3s ease; }
      .bonus__right-link:hover {
        background: #15E0A2; }
      .bonus__right-link:active {
        background: #07A172; }

.parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2; }
  .parallax__layer {
    height: 100%;
    right: 0; }
    .parallax__layer-item {
      position: absolute; }
      .parallax__layer-item:before, .parallax__layer-item:after {
        content: "";
        background: url("../img/star.png") no-repeat 0 0/contain;
        width: 140px;
        height: 140px;
        position: absolute; }
    .parallax__layer .item-1 {
      background: url("../img/card-1.png") no-repeat 0 0/contain;
      width: 504px;
      height: 553px;
      bottom: -247px;
      right: 604px; }
      .parallax__layer .item-1:before, .parallax__layer .item-1:after {
        content: none; }
    .parallax__layer .item-2 {
      background: url("../img/chip-1.png") no-repeat 0 0/contain;
      width: 379px;
      height: 354px;
      bottom: -161px;
      left: 104px; }
      .parallax__layer .item-2:before {
        bottom: 172px;
        right: 110px;
        opacity: 0;
        animation: 2s fade linear infinite; }
      .parallax__layer .item-2:after {
        bottom: 52px;
        right: 181px;
        opacity: 0;
        animation: 2s fade 1s linear infinite; }
    .parallax__layer .item-3 {
      background: url("../img/chip-3.png") no-repeat 0 0/contain;
      width: 330px;
      height: 290px;
      top: 95px;
      right: 106px; }
      .parallax__layer .item-3:before {
        top: 4px;
        right: 44px;
        opacity: 0;
        animation: 2s fade linear infinite; }
      .parallax__layer .item-3:after {
        top: 16px;
        right: -16px;
        opacity: 0;
        animation: 2s fade 1s linear infinite; }
    .parallax__layer .item-4 {
      background: url("../img/card-2.png") no-repeat 0 0/contain;
      width: 377px;
      height: 353px;
      top: 526px;
      left: -70px; }
    .parallax__layer .item-5 {
      background: url("../img/chip-2.png") no-repeat 0 0/contain;
      width: 286px;
      height: 335px;
      top: 137px;
      left: 198px; }
      .parallax__layer .item-5:before {
        top: 2px;
        right: 102px;
        opacity: 0;
        animation: 2s fade linear infinite; }
      .parallax__layer .item-5:after {
        content: none; }
    .parallax__layer .item-6 {
      background: url("../img/card-4.png") no-repeat 0 0/contain;
      width: 337px;
      height: 357px;
      top: -78px;
      right: 452px; }
    .parallax__layer .item-7 {
      background: url("../img/chip-4.png") no-repeat 0 0/contain;
      width: 415px;
      height: 440px;
      bottom: -214px;
      right: 73px; }
    .parallax__layer .item-8 {
      background: url("../img/card-3.png") no-repeat 0 0/contain;
      width: 393px;
      height: 416px;
      top: 277px;
      left: -38px; }
    .parallax__layer .item-4:before, .parallax__layer .item-4:after, .parallax__layer .item-6:before, .parallax__layer .item-6:after, .parallax__layer .item-7:before, .parallax__layer .item-7:after, .parallax__layer .item-8:before, .parallax__layer .item-8:after {
      content: none; }

@keyframes fade {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@media screen and (min-width: 2300px) {
  .bonus__right {
    transform-origin: right;
    transform: scale(1.6); }

  .parallax__layer-item {
    transform: scale(1.4); }
  .parallax__layer .item-4 {
    top: 711px; } }
@media screen and (max-width: 1930px) and (max-height: 955px) {
  .parallax .item-5 {
    top: 65px;
    left: 158px; }
  .parallax .item-4 {
    top: 457px; }
  .parallax .item-8 {
    top: 217px; } }
@media screen and (max-width: 1780px) {
  .bonus {
    padding-right: 120px; }
    .bonus__img {
      left: 60px; }

  .parallax .item-5 {
    left: 158px; }
  .parallax .item-4 {
    left: -119px; }
  .parallax .item-8 {
    left: -91px; }
  .parallax .item-6 {
    top: -87px;
    right: 329px; }
  .parallax .item-3 {
    top: 135px;
    right: 61px; } }
@media screen and (max-width: 1600px) {
  .bonus__logo {
    width: 390px; } }
@media screen and (max-width: 1600px) and (max-height: 850px) {
  .parallax__layer-item {
    transform: scale(0.85); }
  .parallax__layer .item-5 {
    left: 101px; }
  .parallax__layer .item-3 {
    top: 71px;
    right: 13px; } }
@media screen and (max-width: 1600px) and (max-height: 800px) {
  .parallax__layer-item {
    transform: scale(0.75); } }
@media screen and (max-width: 1540px) {
  .bonus__right {
    transform-origin: top right;
    transform: scale(0.9); }

  .parallax__layer-item {
    transform: scale(0.75); }
  .parallax__layer .item-5 {
    left: 101px; }
  .parallax__layer .item-3 {
    top: 71px;
    right: 13px; } }
@media screen and (max-width: 1540px) and (max-height: 800px) {
  .parallax__layer-item {
    transform: scale(0.7); }
  .parallax__layer .item-5 {
    left: 65px;
    top: 15px; }
  .parallax__layer .item-2 {
    bottom: -191px; }
  .parallax__layer .item-1 {
    bottom: -274px;
    right: 588px; }
  .parallax__layer .item-8 {
    top: 131px; }
  .parallax__layer .item-4 {
    top: 366px; } }
@media screen and (max-width: 1470px) {
  .bonus {
    padding-right: 60px; }
    .bonus__logo {
      width: 340px; }
    .bonus__img {
      left: 0; }

  .parallax__layer .item-5 {
    top: 27px;
    left: 50px; } }
@media screen and (max-width: 1470px) and (max-height: 800px) {
  .parallax__layer .item-5 {
    top: -27px;
    left: 18px; } }
@media screen and (max-width: 1368px) {
  .parallax__layer .item-2 {
    left: 12px; }
  .parallax__layer .item-1 {
    right: 519px; } }
@media screen and (max-width: 1368px) and (min-height: 940px) {
  .bonus__img {
    left: -80px; }

  .parallax__layer .item-5 {
    top: 16px;
    left: 1px; }
  .parallax__layer .item-2 {
    left: 12px; }
  .parallax__layer .item-1 {
    right: 519px; } }
@media screen and (max-width: 1368px) and (max-height: 730px) {
  .bonus {
    padding-right: 100px; }
    .bonus__right {
      transform: scale(0.8); }
    .bonus__img {
      left: 60px; }

  .parallax__layer .item-4 {
    top: 302px; }
  .parallax__layer .item-8 {
    top: 66px; }
  .parallax__layer .item-5 {
    top: -121px; } }
@media screen and (max-width: 1368px) and (max-height: 670px) {
  .parallax__layer .item-4 {
    top: 258px; } }
@media screen and (max-width: 1368px) and (max-height: 640px) {
  .bonus__right {
    transform: scale(0.75); }

  .parallax__layer .item-4 {
    top: 208px; }
  .parallax__layer .item-8 {
    top: -8px; } }
@media screen and (max-width: 1300px) and (min-height: 1000px) {
  .bonus {
    padding-right: 50px; }
    .bonus__img {
      left: -114px; } }
@media screen and (max-width: 1280px) {
  .bonus__img {
    left: -50px; } }
@media screen and (max-width: 1280px) and (max-height: 730px) {
  .bonus__logo {
    max-width: 300px; }
  .bonus__img {
    left: 0; } }
@media screen and (max-width: 1280px) and (max-height: 640px) {
  .bonus__img {
    left: 40px; }

  .parallax__layer-item {
    transform: scale(0.6); }
  .parallax__layer .item-3 {
    top: 12px;
    right: -25px; }
  .parallax__layer .item-6 {
    top: -127px;
    right: 269px; } }
@media screen and (max-width: 1260px) and (min-height: 1000px) {
  .bonus {
    padding-right: 50px; }
    .bonus__img {
      left: -114px; }

  .parallax__layer .item-6 {
    top: -108px;
    right: 258px; } }
@media screen and (max-width: 1200px) {
  .bonus__right {
    transform: scale(0.8); }

  .parallax__layer .item-6 {
    top: -108px;
    right: 258px; }
  .parallax__layer .item-1 {
    right: 386px; } }
@media screen and (max-width: 1050px) and (orientation: landscape) {
  .bonus__right {
    transform: scale(0.7); }
  .bonus__img {
    left: -88px; }

  .parallax__layer-item {
    transform: scale(0.6); }
  .parallax__layer .item-8 {
    left: -137px; }
  .parallax__layer .item-6 {
    right: 164px; }
  .parallax__layer .item-2 {
    left: -28px; }
  .parallax__layer .item-1 {
    right: 309px;
    bottom: -290px; }
  .parallax__layer .item-5 {
    top: -64px;
    left: -80px; } }
@media screen and (max-width: 1060px) and (orientation: landscape) and (max-height: 850px) {
  .bonus {
    padding-right: 30px; }

  .parallax__layer .item-8 {
    left: -118px; } }
@media screen and (max-width: 1060px) and (orientation: landscape) and (max-height: 730px) {
  .bonus {
    padding-right: 60px; } }
@media screen and (max-width: 1060px) and (orientation: landscape) and (max-height: 690px) {
  .bonus__img {
    left: -27px; } }
@media screen and (max-width: 1000px) and (orientation: landscape) {
  .bonus__right {
    transform: scale(0.65); } }
@media screen and (max-width: 980px) and (orientation: landscape) {
  .bonus__logo {
    max-width: 300px; }
  .bonus__img {
    left: -118px; }

  .parallax__layer .item-6 {
    right: 111px; }
  .parallax__layer .item-2 {
    left: -66px; }
  .parallax__layer .item-1 {
    right: 285px;
    bottom: -271px; }
  .parallax__layer .item-7 {
    bottom: -186px;
    right: 17px; }
  .parallax__layer .item-8 {
    left: -159px; } }
/*************************************TABLET*********************************** */
@media screen and (max-width: 1025px) and (orientation: portrait) {
  .parallax {
    z-index: 0; }
    .parallax__layer .item-6 {
      top: -116px;
      right: -82px; }
    .parallax__layer .item-3 {
      top: 211px;
      right: -55px; }
    .parallax__layer .item-5 {
      top: 78px;
      left: 100px; }
    .parallax__layer .item-8 {
      transform: scale(0.75) rotate(21.01deg);
      top: 210px;
      left: -78px; }
    .parallax__layer .item-4 {
      top: 498px;
      left: -100px; }
    .parallax__layer .item-2 {
      bottom: 114px;
      transform: scale(1.4);
      left: -78px; }
    .parallax__layer .item-1 {
      right: -36px;
      bottom: 39px;
      transform: scale(0.9); }
    .parallax__layer .item-7 {
      bottom: 154px;
      right: -86px; }

  .bonus {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0; }
    .bonus__logo {
      max-width: 314px; }
    .bonus__light {
      height: 240px;
      background: linear-gradient(180deg, rgba(243, 0, 99, 0) 0%, #FF267E 61.98%) r;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      bottom: 150px; }
      .bonus__light::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: -149px;
        background: #ff267e; }
    .bonus__img {
      position: relative;
      width: 80%;
      height: 100%;
      left: 0;
      top: -50px; }
    .bonus__right {
      margin: 0;
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%) scale(1);
      z-index: 5;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .bonus__right-title {
        font-size: 90px;
        line-height: 90px;
        margin: 0 0 25px; }
      .bonus__right-text {
        margin: 0 0 40px 0; }
        .bonus__right-text span {
          padding: 17px 22px 15px;
          font-size: 46px;
          line-height: 46px;
          white-space: nowrap; }
          .bonus__right-text span:first-child {
            margin: 0 40px 0 0; }
        .bonus__right-text img {
          right: 170px; } }
@media screen and (max-width: 1025px) and (orientation: portrait) and (max-height: 1125px) {
  .parallax__layer .item-4 {
    top: 405px; } }
@media screen and (max-width: 1025px) and (orientation: portrait) and (max-height: 1060px) {
  .parallax__layer .item-1 {
    right: -62px;
    bottom: 17px;
    transform: scale(0.8); }
  .parallax__layer .item-2 {
    transform: scale(1.1);
    bottom: 92px; }
  .parallax__layer .item-4 {
    top: 375px; }
  .parallax__layer .item-8 {
    top: 161px; }
  .parallax__layer .item-5 {
    top: 24px;
    left: 68px; } }
@media screen and (max-width: 770px) and (orientation: portrait) {
  .parallax__layer-item {
    transform: scale(0.6); }
  .parallax__layer .item-8 {
    transform: scale(0.6) rotate(21.01deg);
    left: -102px;
    top: 133px; }
  .parallax__layer .item-1 {
    right: -85px;
    bottom: 4px;
    transform: scale(0.7); }
  .parallax__layer .item-2 {
    transform: scale(1); }
  .parallax__layer .item-4 {
    top: 335px;
    left: -120px; }
  .parallax__layer .item-5 {
    top: 24px;
    left: 38px; }
  .parallax__layer .item-6 {
    right: -129px; }
  .parallax__layer .item-3 {
    top: 161px;
    right: -64px; }
  .parallax__layer .item-7 {
    bottom: 202px;
    right: -81px; } }
@media screen and (max-width: 770px) and (orientation: portrait) and (max-height: 910px) {
  .bonus__img {
    width: 75%; }
  .bonus__light {
    bottom: 103px; }

  .parallax__layer .item-1 {
    right: -93px;
    bottom: -33px; }
  .parallax__layer .item-2 {
    left: -112px;
    bottom: 60px; }
  .parallax__layer .item-4 {
    top: 282px; }
  .parallax__layer .item-7 {
    bottom: 100px;
    right: -71px; } }
/*************************************MOBILE*********************************** */
@media screen and (max-width: 600px) and (orientation: portrait) {
  .parallax__layer-item {
    transform: scale(0.35); }
  .parallax__layer .item-6 {
    right: -143px;
    top: -136px; }
  .parallax__layer .item-3 {
    top: 84px;
    right: -124px; }
  .parallax__layer .item-7 {
    bottom: 88px;
    right: -162px; }
  .parallax__layer .item-1 {
    transform: scale(0.45);
    right: -166px;
    bottom: -87px; }
  .parallax__layer .item-2 {
    transform: scale(0.7);
    left: -156px;
    bottom: 29px; }
  .parallax__layer .item-4 {
    top: 148px;
    left: -152px; }
  .parallax__layer .item-8 {
    transform: scale(0.35) rotate(21.01deg);
    left: -164px;
    top: -3px; }
  .parallax__layer .item-5 {
    top: -34px;
    left: -53px;
    transform: scale(0.3); }

  .bonus__light {
    bottom: 66px; }
  .bonus__img {
    top: -71px;
    width: 97%; }
  .bonus__logo {
    max-width: 220px; }
  .bonus__right {
    bottom: 35px; }
    .bonus__right-title {
      font-size: 56px;
      line-height: 56px;
      margin: 0 0 12px 0; }
    .bonus__right-text {
      margin: 0 0 25px 0; }
      .bonus__right-text span {
        padding: 17px 22px 15px;
        font-size: 26px;
        line-height: 26px; }
        .bonus__right-text span:first-child {
          margin: 0 20px 0 0; }
      .bonus__right-text img {
        max-width: 43px;
        right: 111px; }
    .bonus__right-link {
      padding: 16px 65px 14px;
      font-size: 22px;
      line-height: 29px; } }
@media screen and (max-width: 600px) and (orientation: portrait) and (max-height: 670px) {
  .parallax__layer .item-1 {
    bottom: -119px; }
  .parallax__layer .item-2 {
    bottom: -12px; }

  .bonus__light {
    bottom: -8px; } }
@media screen and (max-width: 600px) and (orientation: portrait) and (max-height: 600px) {
  .parallax__layer .item-1 {
    bottom: -165px; }
  .parallax__layer .item-2 {
    bottom: -87px; }

  .bonus__img {
    top: -55px;
    width: 91%; }
  .bonus__right {
    bottom: 15px; }
    .bonus__right-title {
      margin: 0 0 5px 0; }
    .bonus__right-text {
      margin: 0 0 15px 0; } }
@media screen and (max-width: 600px) and (orientation: portrait) and (min-height: 800px) {
  .bonus__img {
    top: -29px;
    width: 105%; } }
@media screen and (max-width: 600px) and (orientation: portrait) and (min-height: 890px) {
  .bonus__img {
    top: -28px;
    width: 111%; } }
@media screen and (max-width: 400px) and (orientation: portrait) and (min-height: 600px) {
  .bonus__img {
    top: -25px;
    width: 104%; } }
@media screen and (max-width: 400px) and (orientation: portrait) and (min-height: 700px) {
  .bonus__img {
    top: -55px;
    width: 104%; } }
@media screen and (max-width: 400px) and (orientation: portrait) and (min-height: 800px) {
  .bonus__img {
    top: -26px;
    width: 105%; } }
@media screen and (max-width: 330px) and (max-height: 670px) {
  .bonus__img {
    top: -51px;
    width: 100%; }
  .bonus__right {
    transform-origin: center;
    transform: translateX(-50%) scale(0.9); } }
@media screen and (max-width: 330px) and (max-height: 600px) {
  .bonus__img {
    top: -32px; } }
/*************************************LANDSCAPE*********************************** */
@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 450px) {
  .bonus {
    padding-right: 70px;
    align-items: center; }
    .bonus__light {
      bottom: -280px; }
    .bonus__logo {
      max-width: 200px; }
    .bonus__right {
      transform-origin: center right;
      transform: scale(0.6);
      margin-top: 0; }
      .bonus__right-title {
        margin: 0 0 -13px 0; }
      .bonus__right-text {
        margin: 0 0 41px 0; }
        .bonus__right-text span {
          white-space: nowrap; }
    .bonus__img {
      left: 85px;
      width: 72vh; }

  .parallax__layer-item {
    transform: scale(0.4); }
  .parallax__layer .item-7 {
    bottom: -213px;
    right: -31px; }
  .parallax__layer .item-3 {
    top: -22px;
    right: -76px; }
  .parallax__layer .item-6 {
    right: 92px;
    top: -140px; }
  .parallax__layer .item-1 {
    right: 269px;
    bottom: -274px; }
  .parallax__layer .item-2 {
    bottom: -182px;
    left: -42px; }
  .parallax__layer .item-4 {
    top: 188px; }
  .parallax__layer .item-8 {
    top: 27px; }
  .parallax__layer .item-5 {
    top: -65px;
    left: -37px; } }
@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 400px) {
  .parallax__layer-item {
    transform: scale(0.35); }
  .parallax__layer .item-4 {
    top: 111px; }
  .parallax__layer .item-8 {
    top: -36px; }

  .bonus__right {
    transform: scale(0.55); } }
@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 360px) {
  .bonus__img {
    left: 121px; }
  .bonus__right {
    transform: scale(0.45); }

  .parallax__layer-item {
    transform: scale(0.3); } }
@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 335px) {
  .parallax__layer .item-4 {
    top: 57px; } }
@media screen and (max-width: 770px) and (orientation: landscape) and (max-height: 450px) {
  .bonus {
    padding-right: 24px; }
    .bonus__img {
      left: 39px; }

  .parallax__layer .item-1 {
    right: 168px;
    bottom: -278px; }
  .parallax__layer .item-4 {
    left: -139px; } }
@media screen and (max-width: 700px) and (orientation: landscape) and (max-height: 450px) {
  .parallax__layer .item-4 {
    left: -136px; }
  .parallax__layer .item-2 {
    left: -79px; }
  .parallax__layer .item-1 {
    right: 124px; } }
@media screen and (max-width: 580px) and (orientation: landscape) and (max-height: 400px) {
  .bonus__right {
    transform: scale(0.45); }
  .bonus__img {
    left: 6px; }

  .parallax__layer-item {
    transform: scale(0.25); }
  .parallax__layer .item-2 {
    left: -102px; }
  .parallax__layer .item-4 {
    left: -164px;
    top: 75px; } }

/*# sourceMappingURL=main.css.map */
