@media screen and (min-width: 2500px)
  .bonus
    &__right
      transform-origin: right
      transform: scale(1.3)

@media screen and (max-width: 1920px)
  .parallax
    &__layer
      .item-3
        top: 60px
        right: 100px

@media screen and (max-width: 1830px)
  .bonus
    padding-right: 80px
    &__img
      left: -20px
  .parallax
    &__layer
      &-item
        transform: scale(0.9)
      .item-1
        bottom: 0
      .item-2
        left: 30px
      .item-3
        top: 60px
        right: 100px
      .item-4
        left: -90px
        top: 200px
      .item-5
        top: 60px

@media screen and (max-width: 1680px)
  .bonus
    padding-right: 60px
    &__img
      max-width: 75vw

@media screen and (max-width: 1600px)
  .bonus
    &__logo
      width: 390px
    &__right
      margin-top: 40px
      &-title
        &-prom
          font-size: 75px
          line-height: 85px
  .parallax
    &__layer
      &-item
        transform: scale(0.8)
      .item-2
        left: 10px
        bottom: 0
      .item-3
        top: 20px
        right: 30px
      .item-4
        top: 140px
      .item-5
        left: 400px

@media screen and (max-width: 1600px) and (max-height: 820px)
  .parallax
    &__layer
      &-item
        transform: scale(0.7)
      .item-1
        bottom: -40px
        right: 570px
      .item-2
        left: -20px
        bottom: -20px
      .item-3
        top: 0
        right: 0

@media screen and (max-width: 1536px)
  .bonus
    &__right
      &-subtitle
        margin: 27px 0
  .parallax
    &__layer
      .item-1
        bottom: -20px
        right: 540px
      .item-7
        right: -240px
      .item-2
        left: -30px
      .item-4
        left: -110px

@media screen and (max-width: 1536px) and (max-height: 760px)
  .bonus
    &__logo
      max-width: 350px
  .parallax
    &__layer
      .item-5
        top: 20px
        left: 370px

@media screen and (max-width: 1440px)
  .bonus
    padding-right: 50px
    &__logo
      width: 340px
    &__img
      max-width: 80vw
    &__right
      margin-top: 10px
      &-title
        &-prom
          font-size: 65px
          line-height: 75px
        &-left
          font-size: 74px
          line-height: 66px
      &-subtitle
        margin: 20px 0
  .parallax
    &__layer
      .item-1
        right: 400px
      .item-2
        left: 10px
      .item-3
        top: 5px
        right: 91px
      .item-6
        right: 400px

@media screen and (max-width: 1440px) and (max-height: 788px)
  .parallax
    &__layer
      .item-3
        top: -38px
        right: 59px

@media screen and (max-width: 1368px)
  .bonus
    &__img
      max-width: 80vw
  .parallax
    &__layer
      .item-1
        right: 410px
      .item-2
        left: 0
      .item-3
        top: 10px
        right: 70px
      .item-5
        left: 320px
      .item-6
        right: 400px

@media screen and (max-width: 1368px) and (min-height: 950px)
  .parallax
    &__layer
      .item-1
        bottom: 20px
      .item-2
        left: 20px
      .item-3
        top: 60px
        right: 100px
      .item-5
        top: 110px
        left: 340px

@media screen and (max-width: 1368px) and (max-height: 800px)
  .bonus
    &__img
      max-width: 80vw
      left: 0

@media screen and (max-width: 1368px) and (max-height: 670px)
  .bonus
    &__logo
      max-width: 300px
  .parallax
    &__layer
      &-item
        transform: scale(0.6)
      .item-1
        bottom: -70px
        right: 370px
      .item-2
        left: -30px
        bottom: -30px
      .item-3
        top: -20px
        right: 30px
      .item-4
        left: -120px
      .item-6
        top: -100px
      .item-7
        bottom: 20px

@media screen and (max-width: 1368px) and (max-height: 770px)
  .bonus
    &__right
      transform-origin: right center
      transform: scale(0.9)
  .parallax
    &__layer
      &-item
        transform: scale(0.55)
      .item-3
        top: -54px
        right: -9px

@media screen and (max-width: 1280px)
  .bonus
    &__img
      left: -20px
    &__right
      transform-origin: right center
      transform: scale(0.88)
  .parallax
    &__layer
      .item-1
        right: 370px

@media screen and (max-width: 1280px) and (max-height: 720px)
  .bonus
    &__logo
      max-width: 300px

@media screen and (max-width: 1280px) and (max-height: 650px)
  .bonus
    &__right
      transform-origin: right center
      transform: scale(0.85)

@media screen and (max-width: 1280px) and (max-height: 615px)
  .parallax
    &__layer
      .item-3
        top: -85px
        right: 11px

@media screen and (max-width: 1205px) and (max-height: 750px)
  .bonus
    padding-right: 30px
    &__logo
      max-width: 280px
    &__img
      max-width: 900px
      left: 0
  .parallax
    &__layer
      .item-4
        top: 80px
      .item-5
        left: 230px
      .item-6
        right: 300px
      .item-7
        right: -230px
        bottom: 0

@media screen and (max-width: 1180px)
  .bonus
    padding-right: 30px
    &__img
      left: -20px
      max-width: 83vw
    &__right
      transform-origin: right center
      transform: scale(0.8)

@media screen and (max-width: 1133px)
  .parallax
    &__layer
      .item-1
        right: 300px
      .item-5
        top: 40px
      .item-6
        top: -90px
        right: 300px

@media screen and (max-width: 1042px)
  .bonus
    padding-right: 30px
    &__right
      transform: scale(0.75)
      transform-origin: right
  .parallax
    &__layer
      .item-1
        bottom: 20px
        right: 270px
      .item-3
        top: 70px
      .item-5
        top: 90px
        left: 230px

@media screen and (max-width: 1024px) and (orientation: portrait)
  .bonus
    justify-content: center
    align-items: flex-start
    padding: 115px 0 30px 0
    &__logo
      width: 400px
    &__img
      max-width: 100%
      top: auto
      left: 0
      right: 0
      img
        max-width: 126%
    &__right
      height: 100%
      width: 100%
      transform: scale(1)
      transform-origin: center top
      &-title
        &-left
          font-size: 80px
          line-height: 84px
        &-right
          font-size: 18px
          line-height: 20px
          span
            font-size: 16px
            line-height: 20px
        &-prom
          font-size: 80px
          line-height: 90px
      &-subtitle
        margin: 25px 0
      &-btn-wrap
        flex: 1 1 auto
      &-copy
        flex-direction: row
        align-self: flex-start

        &-top
          margin: 0 20px 0 20px

  .parallax
    &__layer
      .item-1
        bottom: auto
        right: auto
        top: 370px
        left: -90px
        transform: scale(0.6)
      .item-2
        transform: scale(-1,1)
        left: auto
        right: 40px
        bottom: 20px
      .item-3
        transform: scale(0.8) rotate(20deg)
        top: 370px
        right: 0
      .item-5,.item-7
        display: none
      .item-6
        top: -103px
        right: -10px


@media screen and (max-width: 1024px) and (orientation: portrait) and (max-height: 1280px)
  .bonus
    &__img
      img
        max-width: 115%
        margin-left: 40px
  .parallax
    &__layer
      .item-1
        top: 320px

@media screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape)
  .bonus
    align-items: flex-start
    padding: 48px 28px 0 0
    &__logo
      width: 300px
    &__img
      top: auto
      max-width: 89vw
      bottom: -36px
    &__right
      transform: scale(1)
      margin-top: 0
      align-items: flex-end
      &-title
        flex-direction: row-reverse
        &-left
          margin: 0
        &-right
          margin: 0 25px 0 0
        &-prom
          max-width: 433px
          br
            display: none
      &-subtitle
        margin: 30px 0 95px
        &-right
          text-align: right
      &-copy
        margin: 0 40px 0 0
  .parallax
    &__layer
      &-item
        transform: scale(0.56)
      .item-1
        bottom: auto
        top: -20px
        right: auto
        left: 40px
      .item-2
        left: auto
        right: 307px
        bottom: -17px
        transform: scale(-0.6,  0.6) rotate(360deg)
      .item-3
        display: none
      .item-4
        top: 110px
      .item-5
        display: none
      .item-6
        top: -115px
        right: 400px
      .item-7
        display: none

@media screen and (max-width: 1024px) and (max-height: 720px) and (orientation: landscape)
  .parallax
    &__layer
      &-item
        transform: scale(0.46)
      .item-1
        top: -60px
      .item-2
        bottom: 10px
  .bonus
    &__right
      transform: scale(0.8)



@media screen and (max-width: 1024px) and (max-height: 690px) and (orientation: landscape)
  .bonus
    &__img
      max-width: 83vw
  .parallax
    &__layer
      .item-2
        bottom: -20px

@media screen and (max-width: 1024px) and (max-height: 630px) and (orientation: landscape)
  .bonus
    padding: 20px 40px 0 0
  .parallax
    &__layer
      .item-1
        top: -90px

@media screen and (max-width: 834px) and (orientation: portrait)
  .bonus
    &__logo
      width: 310px
    &__img
      bottom: -20px
      img
        max-width: 122%
        margin-left: 10px
    &__right
      transform: scale(0.9)
      &-copy
        position: absolute
        bottom: -110px
        left: -40px
  .license
    bottom: 25px
    left: 25px
    &__age,&__onjn
      width: 42px
      height: 42px
    &__name
      p
        font-size: 10px
        line-height: 12px
  .parallax
    &__layer
      &-item
        transform: scale(0.6)
      .item-1
        top: 290px
        left: -130px
      .item-2
        transform: scale(-0.8, 0.8)
        bottom: 0
        right: 0
      .item-3
        transform: scale(0.6) rotate(20deg)
        top: 300px
        right: -40px

@media screen and (max-width: 834px) and (orientation: portrait) and (max-height: 1045px)
  .bonus
    &__right
      transform: scale(0.8)
      &-copy
        bottom: -220px
        left: -90px

@media screen and (max-width: 770px) and (orientation: portrait)
  .bonus
    padding-top: 80px
    &__img
      bottom: 0
    &__right
      transform: scale(0.75)
      &-copy
        bottom: -290px
        left: -120px
  .parallax
    &__layer
      .item-1
        top: 260px

@media screen and (max-width: 770px) and (orientation: portrait) and (max-height: 1136px)
  .bonus
    padding-top: 210px

@media screen and (max-width: 770px) and (orientation: portrait) and (max-height: 1040px)
  .bonus
    padding-top: 150px

@media screen and (max-width: 770px) and (orientation: portrait) and (max-height: 980px)
  .bonus
    padding-top: 80px
    &__logo
      width: 280px
    &__img
      bottom: -10px
  .parallax
    &__layer
      &-item
        transform: scale(0.5)
      .item-1
        top: 220px
      .item-3
        top: 260px
      .item-4
        top: 70px
        left: -127px
      .item-6
        top: -115px

@media screen and (max-width: 770px) and (orientation: portrait) and (max-height: 940px)
  .bonus
    padding-top: 80px
    &__right
      transform: scale(0.7)
      &-copy
        bottom: -350px
        left: -160px
  .parallax
    &__layer
      .item-1
        top: 190px
      .item-3
        top: 230px

@media screen and (max-width: 600px) and (orientation: portrait)
  .bonus
    padding-bottom: 20px
    padding-top: 65px
    &__logo
      width: 184px
    &__right
      transform: scale(1)
      width: 100%
      height: 100%
      &-title

        align-items: center
        margin: 0 0 5px 117px
        &-left
          font-size: 40px
          line-height: 42px
          margin: 0 15px 0 0
        &-right
          font-size: 14px
          line-height: 14px
          span
            font-size: 12px
            line-height: 12px
        &-prom
          font-size: 30px
          line-height: 38px
      &-subtitle
        margin: 15px 0 0 0
        &-text
          font-size: 12px
          line-height: 15px
        &-price
          font-size: 11px
          line-height: 17px
          margin: 0 0 3px 0
        &-left,
        &-right
          span
            font-size: 35px
            line-height: 32px
            padding: 1px 14.5px
        &-left
          margin: 0 15px 0 0
          span
            margin: 0 0 10px 0
        &-right
          span
            margin: 0 0 4px 0
      &-btn-wrap
        flex: 0 1 auto
        position: absolute
        bottom: 35px
        width: 100%
        padding: 0 15px
      &-btn
        width: 100%
        font-size: 15px
        line-height: 19px
        padding: 17px 15px 15px
        text-align: center
      &-copy
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        flex-direction: column
        align-items: center
        flex-wrap: nowrap
        width: 100%
        &-top
          margin: 0 0 7px 0
          flex-wrap: nowrap
          img
            &:not(:last-child)
              margin: 0 15px 0 0
            &:nth-child(1)
              max-width: 28px
            &:nth-child(2)
              max-width: 28px
            &:nth-child(3)
              max-width: 19px
            &:nth-child(4)
              max-width: 24px
            &:nth-child(5)
              max-width: 24px
        &-bottom
          img
            max-width: 84px
    &__img
      bottom: 63px

      img
        display: block
        max-width: 100%
        margin-left: 0
  .parallax
    &__layer
      &-item
        transform: scale(0.36)
      .item-1
        top: 60px
        left: -180px
        transform: scale(0.36)
      .item-2
        transform: scale(-0.33, 0.33)
        bottom: 90px
        right: -60px
      .item-3
        transform: scale(0.4) rotate(20deg)
        top: 100px
        right: -95px
      .item-4
        top: 0
        left: -140px
      .item-6
        right: -140px

@media screen and (max-width: 600px) and (orientation: portrait) and (max-height: 720px)
  .bonus
    padding-top: 55px

@media screen and (max-width: 440px) and (orientation: portrait)
  .parallax
    &__layer
      .item-3
        top: 140px

@media screen and (max-width: 414px) and (orientation: portrait)
  .bonus
    &__img
      bottom: 90px
  .parallax
    &__layer
      .item-1
        transform: scale(0.22)

@media screen and (max-width: 414px) and (min-height: 850px) and (orientation: portrait)
  .bonus
    &__img
      bottom: 170px
    &__right
      &-btn
        bottom: 110px
  .license
    bottom: 25px
  .parallax
    &__layer
      .item-1
        top: 100px
        left: -170px
      .item-2
        bottom: 120px
      .item-3
        top: 190px
        right: -90px

@media screen and (max-width: 412px) and (min-height: 900px) and (orientation: portrait)
  .bonus
    &__img
      bottom: 135px

@media screen and (max-width: 412px) and (max-height: 849px) and (orientation: portrait)
  .bonus
    &__img
      bottom: 74px
  .parallax
    &__layer
      .item-1
        top: 90px
        left: -170px
      .item-3
        top: 160px
        right: -90px

@media screen and (max-width: 412px) and (max-height: 820px) and (orientation: portrait)
  .bonus
    padding-top: 100px

@media screen and (max-width: 412px) and (max-height: 750px) and (orientation: portrait)
  .bonus
    padding-top: 70px
    &__logo
      width: 200px
    &__img
      bottom: 90px
  .parallax
    &__layer
      .item-1
        top: 80px
        transform: scale(0.22)
      .item-3
        top: 150px

@media screen and (max-width: 412px) and (max-height: 700px) and (orientation: portrait)
  .bonus
    &__logo
      width: 190px
    &__right
      &-subtitle
        margin-top: 5px
      &-btn
        bottom: 80px
        font-size: 16px
        padding: 16px 63px 15px
    &__img
      bottom: 70px
  .license
    transform: scale(0.8)
    transform-origin: bottom
  .parallax
    &__layer
      &-item
        transform: scale(0.3)
      .item-1
        top: 70px
      .item-2
        bottom: 60px
        right: -70px
        transform: scale(-0.4, 0.4)
      .item-3
        top: 130px
      .item-4
        top: -20px

@media screen and (max-width: 412px) and (max-height: 670px) and (orientation: portrait)
  .bonus
    padding-top: 51px

@media screen and (max-width: 412px) and (max-height: 649px) and (orientation: portrait)
  .bonus
    padding-top: 40px
    &__logo
      width: 180px
    &__right
      &-title
        transform: scale(.8)
        transform-origin: bottom
      &-subtitle
        transform: scale(.8)
        transform-origin: top
  .parallax
    &__layer
      .item-1
        top: 15px
        transform: scale(0.25)
      .item-3
        top: 80px

@media screen and (max-width: 412px) and (max-height: 600px) and (orientation: portrait)
  .bonus
    padding-top: 30px
    &__img
      bottom: 50px
    &__right
      &-btn
        font-size: 14px
        padding: 13px 60px 12px
        bottom: 70px
  .license
    bottom: 10px
  .parallax
    &__layer
      .item-1
        top: -15px
        left: -180px
      .item-2
        bottom: 40px
      .item-3
        top: 50px
        right: -100px

@media screen and (max-width: 412px) and (max-height: 560px) and (orientation: portrait)
  .bonus
    &__right
      &-title,
      &-prom,
      &-subtitle
        transform: scale(0.7)
      &-btn-wrap
        bottom: 20px
      &-copy
        bottom: -5px
    &__img
      bottom: 26px
  .parallax
    &__layer
      .item-1
        transform: scale(0.2)
      .item-2
        transform: scale(-0.3, 0.3)

@media screen and (max-width: 320px) and (orientation: portrait)
  .bonus
    padding-top: 44px
    &__right
      &-btn-wrap
        bottom: 25px
      &-title
        margin: 0
  .parallax
    &__layer
      .item-1
        transform: scale(0.2)
      .item-2
        transform: scale(-0.2, 0.2)


@media screen and (max-width: 320px) and (orientation: portrait) and (max-height: 600px)
  .parallax
    &__layer
      .item-1
        top: 15px
        left: -170px
      .item-3
        top: 80px
        right: -90px

@media screen and (max-width: 320px) and (orientation: portrait) and (max-height: 670px)
  .bonus
    padding-top: 83px

@media screen and (max-width: 320px) and (orientation: portrait) and (max-height: 570px)
  .bonus
    padding-top: 53px

@media screen and (max-width: 280px) and (orientation: portrait)
  .bonus
    padding-top: 80px
    &__right
      &-title
        margin: 0 0 5px 0
      &-btn
        font-size: 13px
        padding: 15px 50px 14px
    &__img
      bottom: 110px

@media screen and (max-width: 915px) and (orientation: landscape) and (max-height: 450px)
  .bonus
    padding: 40px 30px 0 0
    &__logo
      width: 200px
    &__img
      max-width: 75vw
      left: 0
    &__right
      transform: scale(0.65)
      transform-origin: top right
      &-title
        &-prom
          text-align: right

      &-subtitle
        margin: 15px 0
      &-copy
        margin: 0 22px 0 0
  .parallax
    &__layer
      &-item
        transform: scale(0.25)
      .item-1
        top: -110px
        left: -115px
      .item-2
        transform: scale(0.4)
        right: 300px
        bottom: -60px
      .item-3
        transform: scale(0.35) rotate(18deg)
        top: -70px
        right: auto
        left: 200px
      .item-4
        top: 30px
        left: -139px
      .item-6
        top: -123px
        right: 30px
      .item-7
        right: -230px
        bottom: -70px

@media screen and (max-width: 915px) and (max-height: 400px)
  .bonus
    &__right
      transform: scale(0.6)

@media screen and (max-width: 915px) and (max-height: 380px)
  .bonus
    &__img
      max-width: 70vw
      bottom: -60px

@media screen and (max-width: 915px) and (max-height: 365px)
  .bonus
    &__right
      transform: scale(0.55)

@media screen and (max-width: 915px) and (max-height: 340px)
  .bonus
    padding: 30px 30px 0 0
    &__right
      transform: scale(0.5)

@media screen and (max-width: 915px) and (max-height: 303px)
  .bonus
    &__right
      transform: scale(0.45)


@media screen and (max-width: 820px) and (orientation: landscape)
  .parallax
    &__layer
      .item-1
        top: -110px
        left: -85px
      .item-2
        right: 190px
      .item-3
        left: 80px

@media screen and (max-width: 700px) and (orientation: landscape)
  .bonus
    &__right
      transform: scale(0.5)
    &__img
      max-width: 87vw
      left: -10px

  .parallax
    &__layer
      .item-2
        right: 70px

@media screen and (max-width: 700px) and (max-height: 320px)
  .bonus
    &__logo
      width: 180px
    &__img
      max-width: 85vw
  .parallax
    &__layer
      .item-1
        top: -110px
        left: -135px
      .item-3
        left: 120px

@media screen and (max-width: 600px) and (max-height: 320px)
  .parallax
    &__layer
      .item-1
        left: -95px
      .item-2
        right: 50px
      .item-3
        left: 20px

@media screen and (max-width: 855px) and (max-height: 310px)
  .bonus
    &__logo
      width: 180px
    &__img
      max-width: 70vw
  .parallax
    &__layer
      .item-1
        top: -140px
        left: -110px
      .item-2
        right: 230px
      .item-3
        top: -90px
        left: 200px

@media screen and (max-height: 280px)
  .bonus
    &__logo
      width: 160px
    //&__img
      //max-width: 77vw
  .parallax
    &__layer
      .item-1
        top: -120px
        left: -145px
      .item-2
        right: 110px
      .item-3
        left: 100px