$blue: #000055
$magenta: #ff267e
$green: #05C489
$grey: #e8e8e8


$font-suisse-reg: 'SuisseIntl-Regular', sans-serif
$font-suisse-med: 'SuisseIntl-Medium', sans-serif // 500
$font-suisse-semb: 'SuisseIntl-SemiBold', sans-serif // 600
$font-wulkan: 'WulkanDisplay-SemiBoldItalic', sans-serif

body
  background: $magenta
  overscroll-behavior: none

.hide
  display: none !important
.fav-page
  width: 100%
  height: 100%
  overflow: hidden
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  position: relative
  img
    max-width: 100%
    height: auto

.main-link
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 5


.bonus
  position: relative
  display: flex
  justify-content: flex-end
  align-items: center
  height: 100%
  padding-right: 208px
  &__light
    position: absolute
    bottom: -170px
    left: 0
    width: 100%
    height: 410px
    background: linear-gradient(180deg, rgba(243, 0, 99, 0) 0%, #FF267E 61.98%)
    z-index: 1
  &__logo
    width: 405px
    position: absolute
    top: 0
    left: 0
    z-index: 4
  &__img
    height: 100vh
    width: 94vh
    position: absolute
    left: 150px
    bottom: 0
    top: 0
    display: flex
    align-items: center
  &__right
    position: relative
    z-index: 5
    margin-top: 110px
    &-title
      font-family: $font-suisse-med
      font-size: 120px
      line-height: 156px
      text-transform: uppercase
      color: #FFFFFF
      margin: 0 0 10px 0
    &-text
      position: relative
      display: flex
      align-items: center
      margin: 0 0 95px 0
      span
        display: inline-block
        padding: 10px 17px 8px
        font-family: $font-suisse-med
        font-size: 54px
        line-height: 70px
        text-transform: uppercase
        color: #FFFFFF
        background: $blue
        &:first-child
          margin: 0 45px 0 0
      img
        position: absolute
        max-width: 63px
        top: 50%
        right: 188px
        transform: translateY(-50%)
    &-link
      display: inline-block
      padding: 26px 87px 24px
      border-radius: 6px
      position: relative
      font-family: $font-suisse-med
      font-size: 30px
      line-height: 39px
      text-transform: uppercase
      color: $blue
      background: $green
      transition: background-color .3s ease
      &:hover
        background: #15E0A2
      &:active
        background: #07A172


.parallax
  width: 100%
  height: 100%
  position: absolute
  top: 0
  z-index: 2
  &__layer
    height: 100%
    right: 0
    &-item
      position: absolute
      &:before,
      &:after
        content: ""
        background: url("../img/star.png") no-repeat 0 0/contain
        width: 140px
        height: 140px
        position: absolute
    .item-1
      background: url("../img/card-1.png") no-repeat 0 0/contain
      width: 504px
      height: 553px
      bottom: -247px
      right: 604px
      &:before,
      &:after
        content: none
    .item-2
      background: url("../img/chip-1.png") no-repeat 0 0/contain
      width: 379px
      height: 354px
      bottom: -161px
      left: 104px
      &:before
        bottom: 172px
        right: 110px
        opacity: 0
        animation: 2s fade linear infinite
      &:after
        bottom: 52px
        right: 181px
        opacity: 0
        animation: 2s fade 1s linear infinite
    .item-3
      background: url("../img/chip-3.png") no-repeat 0 0/contain
      width: 330px
      height: 290px
      top: 95px
      right: 106px
      &:before
        top: 4px
        right: 44px
        opacity: 0
        animation: 2s fade linear infinite
      &:after
        top: 16px
        right: -16px
        opacity: 0
        animation: 2s fade 1s linear infinite
    .item-4
      background: url("../img/card-2.png") no-repeat 0 0/contain
      width: 377px
      height: 353px
      top: 526px
      left: -70px
    .item-5
      background: url("../img/chip-2.png") no-repeat 0 0/contain
      width: 286px
      height: 335px
      top: 137px
      left: 198px
      &:before
        top: 2px
        right: 102px
        opacity: 0
        animation: 2s fade linear infinite
      &:after
        content: none
    .item-6
      background: url("../img/card-4.png") no-repeat 0 0/contain
      width: 337px
      height: 357px
      top: -78px
      right: 452px
    .item-7
      background: url("../img/chip-4.png") no-repeat 0 0/contain
      width: 415px
      height: 440px
      bottom: -214px
      right: 73px
      &:before
        top: 4px
        right: 44px
        opacity: 0
        animation: 2s fade linear infinite
      &:after
        top: 90px
        right: 64px
        opacity: 0
        animation: 2s fade 1s linear infinite
    .item-8
      background: url("../img/card-3.png") no-repeat 0 0/contain
      width: 393px
      height: 416px
      top: 277px
      left: -38px
    .item-4,.item-6, .item-8
      &:before,&:after
        content: none



@keyframes fade
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0