.fav-page
  a(href="#").main-link
  .bonus
    .bonus__light
    .bonus__logo
      img(src="img/logo.svg" alt="Favbet")
    .bonus__img
      picture
        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/bg-mob.png")
        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/bg-mob.png")
        source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/bg-tab.png")
        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/bg.png")
        img(src="img/bg.png" alt="Favbet")
    .bonus__right
      .bonus__right-title Bonus
      .bonus__right-text
        span 50 000 INR
        img(src='img/plus.svg' alt='plus')
        span 155 FS
      a(href='#').bonus__right-link Get a bonus
  .parallax#scene
    .parallax__layer(data-depth="0.3")
      .parallax__layer-item.item-1
    .parallax__layer(data-depth="0.4")
      .parallax__layer-item.item-2
    .parallax__layer(data-depth="0.2")
      .parallax__layer-item.item-3
    .parallax__layer(data-depth="0.1")
      .parallax__layer-item.item-4
    .parallax__layer(data-depth="0.1")
      .parallax__layer-item.item-5
    .parallax__layer(data-depth="0.1")
      .parallax__layer-item.item-6
    .parallax__layer(data-depth="0.1")
      .parallax__layer-item.item-7
    .parallax__layer(data-depth="0.1")
      .parallax__layer-item.item-8